[Unit]
Description=Kafka HTTP Gateway
Requires=network.target
After=network.target

[Service]
Type=simple
User=kafka-gateway
WorkingDirectory=/opt/kafka-gateway
Environment=JAVA_OPTS="-Xms256M -Xmx2G"
Environment=KAFKA_GATEWAY_OPTS="-Dhost=127.0.0.1 -Dport=8086 -Dlog.dir=/var/log/kafka-gateway"
ExecStart=/opt/kafka-gateway/bin/kafka-gateway
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure
RestartSec=5
SuccessExitStatus=143
LimitNOFILE=65536
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target